{{include './header.html' }}
<section>
    <div class='aut-box'>
        <div class="author">
            <img src="/img/憨狗.jpeg" alt="" class="gg">
            <h1>{{aut.username}}的个人空间 </h1><br>
            {{if msg}}
            {{each msg s}}
            <div class="author-zy">
                <h1><a href="/view?_id={{s._id}}">{{s.title}}</a> </h1>
                <p class="author-zy-p2">作者：<a href="/author?author_id={{s.author._id}}">{{aut.username}}</a> |发布时间：{{s.time.sec}} | 标签：
                    {{each s.label d}}

                    {{d}}
                    {{/each}}
                </p>
                <p class="author-zy-p3"> {{s.content}}</p>


            </div><br>
            {{/each}}
            {{else}}
            <p>他还没有发布内容</p>
            {{/if}}

        </div>
        

      
    </div>
</section>
</body>

</html>